<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{layout::top-bootstrap}"></th:block>
</head>
<body>
<th:block th:replace ="~{layout::header-furama}"></th:block>
<form th:object="${facilityDto}" th:method="post" th:action="@{/facility/save}">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"><span class="text-secondary">Create New Facility</span></legend>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="code" type="text" th:field="*{facilityCode}"/>
            <label class="form-label" for="code">Facility code:</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('facilityCode')}" th:errors="*{facilityCode}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="name1" type="text" th:field="*{facilityName}"/>
            <label class="form-label" for="name1">Facility Name:</label>
        </div>


        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="area" type="text" th:field="*{facilityArea}"/>
            <label class="form-label" for="area">Area</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('facilityArea')}" th:errors="*{facilityArea}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="cost" type="text" th:field="*{facilityCost}"/>
            <label class="form-label" for="cost">Cost</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('facilityCost')}" th:errors="*{facilityCost}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="people" type="text" th:field="*{facilityMaxPeople}"/>
            <label class="form-label" for="people">Max People</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('facilityMaxPeople')}" th:errors="*{facilityMaxPeople}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="room" type="text" th:field="*{standardRoom}"/>
            <label class="form-label" for="room">Standard Room</label>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="description" type="text" th:field="*{descriptionOtherConvenience}"/>
            <label class="form-label" for="description">Description</label>
        </div>

        <div class="form-outline w-25 mx-auto my-4" id="input_pool">
            <input class="form-control" id="pool" type="text" th:field="*{poolArea}"/>
            <label class="form-label" for="pool">Pool Area</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4" id="input_floors">
            <input class="form-control" id="floors" type="text" th:field="*{numberOfFloors}"/>
            <label class="form-label" for="floors">Number Of Floors</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <select class="form-select" id="select_facility" th:field="*{facilityType}">
                <option value="0" th:text="--Type--"></option>
                <option th:each="type : ${facilityType}"
                        th:value="${type.facilityTypeId}"
                        th:text="${type.facilityTypeName}"></option>
            </select>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <select class="form-select" th:field="*{rentType}">
                <option value="0" th:text="--Type--"></option>
                <option th:each="type : ${rentType}"
                        th:value="${type.rentTypeId}"
                        th:text="${type.rentTypeName}"></option>
            </select>
        </div>

    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-success mt-4 mx-2">Save</button>
        <button type="reset" class="btn btn-warning mt-4 mx-2">Reset</button>
    </div>
</form>
<div class="text-center">
    <a class="btn btn-info mt-4 mx-2" th:href="@{/facility/list}">Return facility list</a>
</div>
<br>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

<script>
    $(document).ready(function () {
        $("#select_facility").change(function () {
            if (this.value == 3) {
                $("#input_pool").hide();
                $("#input_pool").find("input").prop("disabled", true);
                $("#input_floors").hide();
                $("#input_floors").find("input").prop("disabled", true);
            } else if (this.value == 2) {
                $("#input_pool").hide();
                $("#input_pool").find("input").prop("disabled", true);
                $("#input_floors").show();
                $("#input_floors").find("input").prop("disabled", false);
            } else if (this.value == 1) {
                $("#input_pool").show();
                $("#input_pool").find("input").prop("disabled", false);
                $("#input_floors").show();
                $("#input_floors").find("input").prop("disabled", false);
            }
        });
    });
</script>
<th:block th:replace="~{layout::footer-furama}"></th:block>
<th:block th:replace="~{layout::bot-bootstrap}"></th:block>
</body>
</html>