<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Delete customer</title>
</head>
<body>
<h1>Delete customer</h1>
<h2>Are you sure?</h2>
<p>
    <a th:href="@{/province}">Province list</a>
</p>
<form th:action="@{/province/delete}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="songs">
        <tr>
            <td>Name:</td>
            <td th:text="${province.name}"></td>
        </tr>
    </table>
    <input type="submit" value="Delete province">
</form>
<footer th:replace="layout::footer"></footer>
</body>
</html>