<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Borrow Book</title>
</head>
<body>
<h1>Borrow Book</h1>
<p>
  <a th:href="@{/book/list}">Back to Book list</a>
</p>
<form th:action="@{/book/saveBorrow}" th:object="${book}" method="post">
  <div>
    <input type="hidden" th:field="*{id}"/>
  </div>
  <div>
    <label>Name</label>
    <input type="text" th:field="*{name}"/>
  </div>
  <div>
    <label>Amount</label>
    <input type="text" th:field="*{amount}"/>
  </div>
  <button type="submit" value="borrow">Borrow</button>
</form>
</body>
</html>