<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <th:block th:replace ="~{layout::top-bootstrap}"></th:block>
</head>
<body>
<!-- Header -->
<th:block th:replace ="~{layout::header-furama}"></th:block>
<!-- Header -->

<!-- Navbar -->
<th:block th:replace ="~{layout::navbar-furama}"></th:block>
<!-- Navbar -->



<!-- Footer -->
<th:block th:replace ="~{layout::footer-furama}"></th:block>
<!-- Footer -->

<th:block th:replace ="~{layout::bot-bootstrap}"></th:block>
</body>
</html>