<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>View product</title>
</head>
<body>
<h3>View product</h3>
<div>
    <p>
        <a th:href="@{/product}">Back to product list</a>
    </p>
</div>
<div>
    <label>Name:</label>
    <label th:text="${product.name}"></label>
</div>
<div>
    <label>Price:</label>
    <label th:text="${product.price}"></label>
</div>
<div>
    <label>Manufactuter:</label>
    <label th:text="${product.manufactuter}"></label>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>