<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4><a href="/shop">List of Product</a></h4>

<h3>View Product</h3>
<div>
    <div>
        <label>Name:</label>
        <label th:text="${products.nameProduct}"></label>
    </div>
    <div>
        <label>Price:</label>
        <label th:text="${products.price}"></label>
    </div>
    <div>
        <label>Describe:</label>
        <label th:text="${products.description}"></label>
    </div>
</div>
</body>
</html>