<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Update Customer</h3>
<div>
    <p>
        <a th:href="@{/customer}">
            Back to customer list
        </a>
    </p>
</div>
<div>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</div>
<div>
    <form th:action="@{/customer/update}" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>First Name</label>
            <input type="text" th:field="*{firstName}">
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" th:field="*{lastName}">
        </div>
        <div>
            <label>Province</label>
            <select th:field="*{province}">
                <option th:each="p: ${provinces}" th:value="${p.id}" th:text="${p.name}" th:selected="(${customer.province}) and (${p.id} == *{province.id})"></option>
            </select>
        </div>
        <input type="submit" value="Save">
    </form>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>