<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/2.5.4/umd/popper.min.js"></script>
    <script type="text/javascript" src="webjars/izitoast/1.4.0/dist/js/iziToast.min.js"></script>
    <link rel="stylesheet" href="webjars/izitoast/1.4.0/dist/css/iziToast.min.css">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>-->
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="text-center text-primary my-3">Question Management</h1>
    </div>
    <div class="row mb-3 mt-3">
        <div class="col-lg-6">
            <a th:href="@{/question/create}" class="btn btn-primary">
                Add new question
            </a>
        </div>
        <div class="col-lg-6">
            <form class="form-inline formSearch" th:action="@{/question}">
                <input class="form-control ml-2" type="search" placeholder="Enter a tittle to search"
                       aria-label="Search" name="tittle" id="tittleSearch">
                <select class="form-control" id="typeQuestion" name="typeQuestion">
                    <option value="">Choose a QuestionType</option>
                    <option th:each="item : ${questionType}" th:text="${item.name}" th:value="${item.id}"></option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0 ml-2" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="content" th:if="${questionContents.getTotalPages() > 0}">
        <table class="table" id='table-question'>
            <thead>
            <tr class="bg-info">
                <th scope="col">No</th>
                <th scope="col">Tittle</th>
                <th scope="col">Question Type</th>
                <th scope="col">Date Create</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id='table-body'>
            <tr th:each="question, state: ${questionContents}">
                <td th:text="${state.count + questionContents.getSize() * questionContents.getNumber()}"></td>
                <td th:text="${question.tittle}"></td>
                <td th:text="${question.questionType.name}"></td>
                <td th:text="${question.dateCreate}"></td>
                <td>
                    <span th:if="${question.status}" th:text="${question.status}"></span>
                    <span th:unless="${question.status}" th:text="${question.status}"></span>
                </td>
                <td>
                    <a th:href="@{/question/edit/{id}(id=${question.id})}" class="btn btn-success">Edit</a>
                    <button type="button" class="btn btn-primary delete" data-toggle="modal" data-target="#deleteModal"
                            th:data-id="${question.id}">
                        Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${questionContents.getTotalPages() > 0}">
        <p style="color: red">Question List Empty</p>
    </div>
    <div>
        <a th:if="${questionContents.hasPrevious()}" th:href="@{'/question'(page = ${questionContents.number - 1})}">Previous</a>
        <span th:text="${questionContents.number + 1}"></span>/<span
            th:text="${questionContents.getTotalPages()}"></span>
        <a th:if="${questionContents.hasNext()}"
           th:href="@{'/question'(page = ${questionContents.number + 1})}">Next</a>
    </div>
    <!--            Modal Delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/question/delete">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xóa câu hỏi này không ?
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" id="deleteVal">
                        <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $(".delete").click(function () {
            let val = $(this).data("id");
            $("#deleteVal").val(val);
        })
    })
</script>
<script th:inline="javascript">
    if ([[${msg}]]) {
        iziToast.success({position: "topRight", message: [[${msg}]]});
    }
</script>