<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List Song</h3>
<p>
    <a th:href="@{/song/create}">
        Add a new song
    </a>
</p>
<div>
    <table id="songs">
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Singer</th>
            <th>Type Song</th>
            <th>URL</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="song, state :${songs}">
                <td th:text="${state.count}"></td>
                <td th:text="${song.name}"></td>
                <td th:text="${song.singer}"></td>
                <td th:text="${song.type}"></td>
                <td th:text="${song.url}"></td>
                <td><a th:href="@{/song/{id}/edit(id = ${song.getId()})}">Edit</a></td>
                <td><a th:href="@{/song/{id}/delete(id = ${song.getId()})}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>