<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Product</title>
</head>
<body>
<h3><a href="/list">List of Product</a></h3>
<form action="/create" th:object="${product}" method="post">
    <fieldset>
        <legend><h3>Create new Product</h3></legend>
        <table>
            <tr>
                <th>Name:</th>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <th>Price:</th>
                <td><input type="text" th:field="*{price}"></td>
            </tr>
            <tr>
                <th>Describe:</th>
                <td><input type="text" th:field="*{describe}"></td>
            </tr>
            <tr>
                <th>Manufacture:</th>
                <td><input type="text" th:field="*{manufacture}"></td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Save">
        </div>
    </fieldset>
</form>
</body>
</html>