<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Update Product</h3>
<h4><a href="/list">List of Product</a></h4>

<form action="/edit" method="post" th:object="${product}">
    <fieldset>
        <legend><h3>Update Product</h3></legend>
        <input type="hidden" th:field="*{idProduct}">
        <div>
            <label>Name of Product:</label>
            <input type="text" th:field="*{nameProduct}">
        </div>
        <div>
            <label>Price:</label>
            <input type="text" th:field="*{price}">
        </div>
        <div>
            <label>Description:</label>
            <input type="text" th:field="*{description}">
        </div>
        <div>
            <label>Manufacture:</label>
            <input type="text" th:field="*{manufacture}">
        </div>
        <div>
            <label>Category:</label>
            <td>
                <select th:field="*{category}">
                    <option th:each="typeObj :${category}"
                            th:value="${typeObj.id}"
                            th:text="${typeObj.name}">
                    </option>
                </select>
            </td>
        </div>
        <div>
            <input type="submit" value="Update">
        </div>
    </fieldset>
</form>
</body>
</html>