<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3><a href="/list">List of book</a></h3>
<form action="/create" th:object="${book}" method="post">
    <fieldset>
        <legend><h3>Create new Book</h3></legend>
        <table>
            <tr>
                <th>Code of Book:</th>
                <td><input type="text" th:field="*{codeBook}"></td>
            </tr>
            <tr>
                <th>Name of Book:</th>
                <td><input type="text" th:field="*{nameBook}"></td>
            </tr>
            <tr>
                <th>Quantity:</th>
                <td><input type="text" th:field="*{quantity}"></td>
            </tr>

        </table>
        <div>
            <input type="submit" value="Save">
        </div>
    </fieldset>
</form>
</body>
</html>