<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <style>
        .product-image {
            object-fit: cover;
            max-width: 180px;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center text-danger">Giỏ hàng của bạn</h1>
    <a href="/shop" class="btn btn-primary">Quay về trang chủ</a>
    <div th:each="product: ${cart.products}" class="row border my-2">
        <div class="col-4">
            <img th:src="${product.getKey().urlImage}" alt="Image lỗi" class="product-image">
        </div>
        <div class="col-8">
            <p>Tên sản phẩm: <span th:text="${product.getKey().name}"></span></p>
            <p>Mô tả: <span th:text="${product.getKey().description}"></span></p>
            <p>Giá sản phẩm: <span th:text="${product.getKey().price}"></span></p>
            <div>
                <span>Số lượng: </span>
                <a th:href="@{/sub/{id}(id = ${product.getKey().id}, action = 'shopping-cart')}" class="btn btn-warning">-</a>
                <span th:text="${product.getValue()}"></span>
                <a th:href="@{/add/{id}(id = ${product.getKey().id}, action = 'shopping-cart')}" class="btn btn-success">+</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>