<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<h1>Product list</h1>
<form method="GET" th:action="@{/product/search}" >
    <label>Search by Name: </label>
    <input type="text" name="txtSearch"/>
    <input name="action" type="hidden" value="findName"/>
    <input type="submit" value="Search"/>
</form>
<th:if test="${error != null}">
    <h2 style="color: red">${error}</h2>
</th:if>
<a th:href="@{/product/create}">Add new product</a>
<table border="1">
    <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Manufacture</th>
        <th>Detail</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
        <tr th:each="product : ${products}">
            <td th:>01</td>
            <td th:text="${product.getId()}">001</td>
            <td th:text="${product.getName()}">Đặng Tấn Tài </td>
            <td th:text="${product.getPrice()}">3000</td>
            <td th:text="${product.getDescription()}">LGBT</td>
            <td th:text="${product.getManufacture()}">DaNang</td>
            <td><a th:href="@{/product/{id}/detail(id=${product.getId()})}">Detail</a></td>
            <td><a th:href="@{/product/{id}/update(id=${product.getId()})}">Update</a></td>
            <td><a th:href="@{/product/{id}/delete(id=${product.getId()})}">Delete</a></td>
        </tr>
</table>
</body>
</html>