<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace ="~{layout::top-bootstrap}"></th:block>
</head>
<body>
<th:block th:replace="~{layout::header-furama}"></th:block>
<form th:object="${customerDto}" th:method="post" th:action="@{/customer/save}">
    <fieldset class="w-75 mx-auto">
        <legend class="text-center my-4"> <span class="text-secondary">Create New Customer</span></legend>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="code" type="text" th:field="*{customerCode}"/>
            <label class="form-label" for="code">Customer code:</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('customerCode')}" th:errors="*{customerCode}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="name1" type="text" th:field="*{customerName}"/>
            <label class="form-label" for="name1">Customer Name:</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="birthday" type="date" th:field="*{customerDateOfBirth}"/>
            <label class="form-label" for="birthday">Date Of Birth</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('customerDateOfBirth')}" th:errors="*{customerDateOfBirth}"></p>
        </div>


        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="idCard" type="text" th:field="*{customerIdCard}"/>
            <label class="form-label" for="idCard">Customer ID Card</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="phone" type="text" th:field="*{customerPhone}"/>
            <label class="form-label" for="phone">Customer Phone</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="email" type="text" th:field="*{customerEmail}"/>
            <label class="form-label" for="email">Customer Email</label>
        </div>
        <div class="w-25 mx-auto">
            <p class="text-warning" th:if="${#fields.hasErrors('customerEmail')}" th:errors="*{customerEmail}"></p>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <input class="form-control" id="address" type="text" th:field="*{customerAddress}"/>
            <label class="form-label" for="address">Customer Address</label>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <select class="form-select" th:field="*{customerGender}">
                <option value="" th:text="--Gender--"></option>
                <option th:value="0" th:text="Nữ" ></option>
                <option th:value="1" th:text="Nam" ></option>
            </select>
        </div>

        <div class="form-outline w-25 mx-auto my-4">
            <select class="form-select" th:field="*{customerType}">
                <option value="" th:text="--Type--"></option>
                <option th:each="type : ${customerTypeList}" th:value="${type.customerTypeId}" th:text="${type.customerTypeName}"></option>
            </select>
        </div>

    </fieldset>
    <div class="text-center">
        <button type="submit" class="btn btn-success mt-4 mx-2">Save</button>
        <button type="reset" class="btn btn-warning mt-4 mx-2">Reset</button>
    </div>

    <div class="text-center">
        <a class="btn btn-info mt-4 mx-2" th:href="@{/customer/list}">Return Customer list</a>
    </div>
</form>
<br>
<th:block th:replace="~{layout::footer-furama}"></th:block>
<th:block th:replace ="~{layout::bot-bootstrap}"></th:block>
</body>
</html>